<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hexa search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/static/src/func.js"></script>
    <!-- <script src='js/radar.js'></script> -->
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }

        .container {
            height: 100%;
            width: 100%;
        }

        table {
            border-collapse: collapse;
            border-radius: 10px;
            border-style: hidden;
            box-shadow: 0 0 0 3px #e3e3e3;
        }

        #modalTable {
            border-collapse: collapse;
            border-radius: 10px;
            border-style: hidden;
            box-shadow: 0 0 0 0 #e3e3e3;
        }

        #mainTable {
            display: none;
            width: 60%;
            position: relative;
            left: 20%;
        }

        .spinner-border {
            color: #e3e3e3;
        }

        .navbar {
            z-index: 1021;
        }

        .floatingNav {
            border-radius: 2px;
            box-shadow: 0px 6px 4px -4px #999;
        }

        /* Chart.js */
        @keyframes chartjs-render-animation {
            from {
                opacity: .99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }

        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }

        .chartjs-size-monitor-expand>div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0
        }

        .chartjs-size-monitor-shrink>div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0
        }
    </style>
</head>

<body style="background-color:#FAFAFA">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top col-4">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="salary_map">Salary map</a>
            </div>
        </div>
    </nav>

    <div class="container" style="width:80%">
        <img src="/static/images/partial_logo.png" class="mx-auto d-block" style="padding-top: 0%; padding-bottom: 0%">
        <div id="topBar" class="sticky-top pb-4" style="background-color: #FAFAFA;">
            <img src="/static/images/name.png" class="mx-auto d-block">
            <div class="d-flex row justify-content-center">
                <div class="form-group mx-auto mb-2 col-11">
                    <input type="text" class="form-control col-12 form-control-lg" id="skillNames"
                        placeholder="Skill name">
                </div>
                <button id="submit-button" type="button" class="btn mb-2 btn-lg col-1"
                    style="background-color:#7f94a3; color: white"
                    onclick="javascript:requestMatchingSkills(); return false">Search</button>
            </div>
        </div>



        <div id="spinner" class="d-flex row mt-5 col" style="visibility: hidden">
            <div class="spinner-grow spinner-border mx-auto" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- vertical pills here -->
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true">Skills</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false">Pie chart</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">Radial chart</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">Salaries</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">

                        <!-- main table -->
                        <table id="mainTable" class="table table-hover mt-3" style="background-color: white;">
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">

                        <!-- bar chart -->
                        <div id="barChartContainer" class="pb-4">
                            <canvas id="barChart" class="pb-1"
                                style="padding-bottom: 15px; width:100%; height:500px; aspect-ratio: 4/3; margin-top: 5px;"></canvas>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">

                        <!-- radial chart -->
                        <div class="pb-4" id='skillChartContainer'>
                            <canvas id="skillChart"
                                style="padding-bottom: 15px; width:100%; aspect-ratio: 4/3; margin-top: 5px;"
                                width="1140" height="570" class="chartjs-render-monitor">
                            </canvas>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">

                        <!-- salalry chart  -->
                        <div class="pb-4" id='salaryChartContainer'>
                            <canvas id="salariesCanvas" style="display: block; height: 485px; width: 870px;"
                                width="1140" height="570" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- </div>
    </div>
    </div> -->

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="modalTable" class="table" style="background-color: white;">
                            <div id="modalSpinner" class="spinner-grow spinner-border mx-auto" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <tbody>
                                <tr id="toDelete"></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="salariesCanvas" style="display: block; height: 485px; width: 870px;" width="1140" height="570"
            class="chartjs-render-monitor"></canvas>
    </div>


    <div style="width:40%" id='salaries-chart'>
        <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
        <canvas id="seniorityCanvas" style="display: block; height: 485px; width: 870px;" width="1140" height="570"
            class="chartjs-render-monitor"></canvas>
    </div>

    <footer style="margin-top: 25px;">
        <p></p>
    </footer>
</body>

<script>
    var filled = false;

    // $(document).ready(function () {
    //     console.log("ready!");
    // });
    $(document).ready(onReady);


    Chart.pluginService.register({
        beforeDraw: function (chart) {
            if (chart.config.options.elements.center) {
                //Get ctx from string
                var ctx = chart.chart.ctx;

                //Get options from the center object in options
                var centerConfig = chart.config.options.elements.center;
                var fontStyle = centerConfig.fontStyle || 'Arial';
                var txt = centerConfig.text;
                var color = centerConfig.color || '#000';
                var sidePadding = centerConfig.sidePadding || 20;
                var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                //Start with a base font of 30px
                ctx.font = "30px " + fontStyle;

                //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                var stringWidth = ctx.measureText(txt).width;
                var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                // Find out how much the font can grow in width.
                var widthRatio = elementWidth / stringWidth;
                var newFontSize = Math.floor(30 * widthRatio);
                var elementHeight = (chart.innerRadius * 2);

                // Pick a new font size so it will not be larger than the height of label.
                var fontSizeToUse = Math.min(newFontSize, elementHeight);

                //Set font settings to draw it correctly.
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                ctx.font = fontSizeToUse + "px " + fontStyle;
                ctx.fillStyle = color;

                //Draw text in center
                ctx.fillText(txt, centerX, centerY);
            }
        }
    });

    var input = document.getElementById("skillNames");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("submit-button").click();
        }
    });




    function salariesChart(main_skills) {
        // var main_skills = $("#skillNames").val().replace(/, /g, ",");
        console.log(main_skills)
        $.ajax({
            url: "/skill_salaries",
            data: {
                skills: main_skills
            },
            success: function (result) {
                console.log(result)
                var min_arr = JSON.parse(result)["min_quantiles"];
                var max_arr = JSON.parse(result)["max_quantiles"];

                for (var i = 0; i < min_arr.length; i++) {
                    if (min_arr[i] > max_arr[i]) {
                        var tmp = max_arr[i];
                        max_arr[i] = min_arr[i];
                        min_arr[i] = tmp;
                    }
                }

                let labels = ["1st quantile", "2nd quantile", "3rd quantile", "4th quantile"];
                let backgroundColors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"];

                var config = {
                    type: 'horizontalBar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: backgroundColors,
                                data: min_arr
                            },
                            {
                                backgroundColor: backgroundColors,
                                data: max_arr
                            }
                        ]
                    },
                    options: {
                        legend: { display: false },
                        title: {
                            display: true,
                            text: 'Salaries'
                        }
                    }
                };
                var barchart = new Chart(document.getElementById('salariesCanvas'), config);
            }
        });
    }






    var options = {
        title: {
            display: true,
            text: 'What skills are co-occuring?',
            position: 'top'
        },
        rotation: -0.7 * Math.PI,
        resposive: true,
        elements: {
            center: {
                text: '90%',
                color: '#D6C9C9', // Default is #000000
                fontStyle: 'Arial', // Default is Arial
                sidePadding: 20 // Defualt is 20 (as a percentage)
            }
        }
    };


    function requestMatchingSkills() {
        if (filled) {
            $("#mainTable").fadeOut(300);
            $("#mainTable").html("<tr></tr>");
            $("#mainTable").fadeIn(1000);
        }


        var all_skills = $("#skillNames").val().replace(/, /g, ",");

        console.log(all_skills);
        filled = true;

        $("#spinner").css("visibility", "visible");
        $.ajax({
            url: "/skill_search",
            data: {
                skills: all_skills
            },
            success: function (result) {
                if (result === "[]") {
                    notFound();
                }
                else {

                    // generate bar chart here 
                    var result_arr = JSON.parse(result);

                    let datapoints = []
                    let labelpoints = []

                    let c = 0
                    let bckColors = []
                    let sumOffers = 0
                    result_arr.forEach(element => {
                        // addRow(element);
                        if (element['count'] != undefined) {
                            datapoints.push(element['count'])
                            labelpoints.push(element['skill'])
                            sumOffers += element['count']
                        }
                        c++
                    });

                    // labelpoints.push(all_skills)
                    req = labelpoints.join(',')
                    console.log(req);
                    salariesChart(req);

                    data = {
                        datasets: [{
                            data: datapoints,
                            backgroundColor: ['#E1B794', '#7F94A3', '#E3E3E3', '#DB2763',
                                '#7392B7', '#C6CAED', '#A28497', '#73683B', '#583E23',
                                '#E8EEF2', '#D6C9C9', '#90A9B7', '#8D5A97'],
                        }],
                        labels: labelpoints
                    }

                    // radial

                    var config = {
                        type: 'radar',
                        data: {
                            labels: labelpoints,
                            datasets: [{
                                label: 'Skill layout',
                                backgroundColor: colors('#E1B794').alpha(0.2).rgbString(),
                                borderColor: '#90A9B7',
                                pointBackgroundColor: '#A28497',
                                data: datapoints
                            }]
                        },
                        options: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Skill radar chart'
                            },
                            scale: {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        }
                    };


                    setTimeout(function () {
                        // getSkillNumbers(result_arr);
                        options.elements.center.text = sumOffers
                        var canvas = document.getElementById("barChart");
                        var rcanvas = document.getElementById("skillChart");
                        var radar = new Chart(rcanvas, config);

                        var ctx = canvas.getContext('2d');
                        var chart = new Chart(ctx, {
                            type: 'doughnut',
                            data: data,
                            options: options
                        });
                    }, 1000);


                    console.log(result_arr)
                    setTimeout(function () {
                        result_arr.forEach(element => {
                            console.log(element)
                            addRow(element);
                        });
                    }, 1000);
                }
            }
        });
    };


    function addRow(parsedRow) {
        if (parsedRow['skill'] != undefined) {

            var crafted = craftRow(parsedRow.skill, parsedRow.percentage);
            $("#spinner").remove();

            $("#mainTable").fadeIn(1000);

            $('#mainTable tr:last').after(crafted);
        }
    }


    function craftModalRow(key, value) {
        let row = `<tr>
            <td align="center" id="skillName">${key}</td>
            <td align="center">${value}</td>
        </tr>`
        return row;
    }

    function addModalRow(parsedRow) {
        var crafted = craftModalRow(parsedRow.name, parsedRow.result);
        console.log(crafted);

        $("#modalSpinner").remove();

        $("#modalTable").fadeIn(1000);
        console.log($('#modalTable tr:last'));

        $('#modalTable tr:last').after(crafted);
    }

    function onSkillClick(skill) {
        console.log(skill);
        window.location.replace("index.html?search=" + skill);
        // fillModal(skill, 'dupa');
        // $("#exampleModalCenter").modal('show');
    }

    function fillModal(skill, data) {
        $("#exampleModalCenter").find('#exampleModalCenterTitle').html(skill);
        $("#modalTable").html("<tbody><tr id='toDelete'></tr></tbody>");

        $.ajax({
            url: "http://0.0.0.0:5000/stats",
            data: {
                text: $('#positionName').val(),
                limit: 20
            },
            success: function (result) {
                var result_arr = JSON.parse(result);
                result_arr.forEach(element => {
                    addModalRow(element);
                });
            }
        });
    }


</script>

</html>
